<div class="parent">
    
    <div>
        <h1 class="mb-4 text-secondary">welcome {{user}}</h1>
        <a routerLink="/transaction">View Transaction</a>
    </div>
    <div class="child">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/bank.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                Deposit
            </div>
            <form class="p-3 mt-3">
                
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" [(ngModel)]="acno" type="text" name="Account number" id="depo_acno" placeholder="Account number">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" [(ngModel)]="pswd" type="password" name="password" id="depo_pswd" placeholder="Password">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" [(ngModel)]="amount" type="text" name="userName" id="depo_amount" placeholder="Amount">
                </div>
                <button class="btn mt-3" (click)="deposit()" type="button">Deposit</button>
            </form>
            <div class="text-center fs-6">
                <!-- <a href="#">Forget password?</a> or -->
                    <!-- <a routerLink="">Sign in</a>  -->
            </div>
        </div>
        
    </div>
    <div class="child">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/bank.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                Withdraw
            </div>
            <form class="p-3 mt-3">
                
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" [(ngModel)]="acno1" type="text" name="Account number" id="with_acno" placeholder="Account number">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" [(ngModel)]="pswd1" type="password" name="password" id="with_pswd" placeholder="Password">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" [(ngModel)]="amount1" type="text" name="userName" id="with_amount" placeholder="Amount">
                </div>
                <button class="btn mt-3" (click)="withdraw()" type="button">Withdraw</button>
            </form>
            <div class="text-center fs-6">
                <!-- <a href="#">Forget password?</a> or -->
                    <!-- <a routerLink="">Sign in</a>  -->
                    
            </div>
        </div>
    </div>
</div>
