<button class="btn btn-primary m-1" (click)="logout()" style="float:right;">Logout</button>
<button class="btn btn-danger m-1" (click)="delete()" style="float:right;">Delete</button>



<div class="parent">
    
    <div>
        <h1 class="mb-4 text-secondary">welcome {{user}}</h1>
        <a routerLink="/transaction">View Transaction</a>
        <h6 class="text-center">System Date and Time: {{sdate | date:'short'}} </h6>
    </div>
<!-- child component -->
    <app-delete [item]="acno" (onCancel)="onCancel()"></app-delete>
    <!-- (onCancel) -userdefined event -->

    <div class="child"  [ngClass]="acno? 'style1':''">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/bank.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                Deposit
            </div>
            <form [formGroup]="depositForm" class="p-3 mt-3">
                
                <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched" style="color: red; font-size: 12px;" >
                    Invalid Account number
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" formControlName="acno" type="text" name="Account number" id="depo_acno" placeholder="Account number">
                </div>

                <div *ngIf="this.depositForm.get('pswd')?.errors && this.depositForm.get('pswd')?.touched" style="color: red; font-size: 12px;" >
                    Invalid Password
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" formControlName="pswd" type="password" name="password" id="depo_pswd" placeholder="Password">
                </div>

                <div *ngIf="this.depositForm.get('amount')?.errors && this.depositForm.get('amount')?.touched" style="color: red; font-size: 12px;" >
                    Invalid Amount
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" formControlName="amount" type="text" name="userName" id="depo_amount" placeholder="Amount">
                </div>
                <button class="btn mt-3" (click)="deposit()" type="button">Deposit</button>
            </form>
            <div class="text-center fs-6">
                <!-- <a href="#">Forget password?</a> or -->
                    <!-- <a routerLink="">Sign in</a>  -->
            </div>
        </div>
        
    </div>
    <div class="child"  [ngClass]="acno? 'style1':''">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/bank.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                Withdraw
            </div>
            <form [formGroup]="withdrawForm" class="p-3 mt-3">

                <div *ngIf="this.withdrawForm.get('acno')?.errors && this.withdrawForm.get('acno')?.touched" style="color: red; font-size: 12px;" >
                    Invalid Account number
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" formControlName="acno" type="text" name="Account number" id="with_acno" placeholder="Account number">
                </div>

                <div *ngIf="this.withdrawForm.get('pswd')?.errors && this.withdrawForm.get('pswd')?.touched" style="color: red; font-size: 12px;" >
                    Invalid Password
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" formControlName="pswd" type="password" name="password" id="with_pswd" placeholder="Password">
                </div>

                <div *ngIf="this.withdrawForm.get('amount')?.errors && this.withdrawForm.get('amount')?.touched" style="color: red; font-size: 12px;" >
                    Invalid Amount
                </div>
                <div class="form-field d-flex align-items-center">
                    <input class="ps-4 pe-4" formControlName="amount" type="text" name="userName" id="with_amount" placeholder="Amount">
                </div>
                <button class="btn mt-3" (click)="withdraw()" type="button">Withdraw</button>
            </form>
            <div class="text-center fs-6">
                <!-- <a href="#">Forget password?</a> or -->
                    <!-- <a routerLink="">Sign in</a>  -->
                    
            </div>
        </div>
    </div>
</div>
